
<div class="jumbotron center">
<h1>About Us</h1>
<p>Esta página esta creada para que jodas a tus amigos subiendo Memes de cuando estan pedos, drogados, o nadamas tomaste la foto en el momento adecuado. El único afán es que compartas al mundo los memes que haces con las fotos de tu amigo "el bulto".</p>
</div>
